.nutrition-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 5px 0 0 35px;
}

.food-image {
    margin-left: 45px;
}

.FullRecipe-container {
    margin-top: 20px;
}

.title-box {
    margin-left: 25px;
    text-align: center;
}

p {
    font-size: 25px;
}

li {
    font-size: 20px;
}
