.footer-container {
    background-color: #f1f1f1;
    border-style: solid;
    border-color: #ff80ff;
    border-width: 1px;
    padding: 90px;
    margin-top: 50px;
}


h4 {
    text-align: center;
}
